@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    scroll-behavior: smooth; /* Smooth scrolling */
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200vh;
}

.intro-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
    padding: 20px;
    padding: 20px;
    background-color: #ffffff; /* Light background for intro section */
    border-radius: 10px;
}

.intro-box h1 {
    margin-bottom: 20px;
}

.intro-box p {
    margin: 10px 0;
    text-align: center;
}

.intro-box img {
    margin: 5px 0;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.intro-box button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6347;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro-box button:hover {
    background-color: #cd523c;
}

.content-wrapper {
    display: flex;
    height: 100vh;
}

.text-box {
    flex: 1;
    background-color: #ffffff; /* Background color for text section */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: flex 0.5s ease;
}

.text-box.half-size {
    flex: 0.5;
}

.text-box h2 {
    margin-bottom: 20px;
    text-align: center;
}

.text-box textarea {
    width: 100%;
    max-width: 600px;
    height: 500px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none;
}

.text-box p {
    font-size: 14px;
    color: #555;
}

.text-box button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF6347;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.text-box button:hover {
    background-color: #cd523c;
}

.result-box {
    display: none;
    flex: 1;
    height: 100%;
    max-width: 600px;
    background: #ffffff;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 70px;
}

.result-box h2 {
    margin: 0;
    text-align: center;
}

.result-box .result-title {
    flex: 1;
    transform: translateX(-50px);
}

.result-box .result-table {
    flex: 2;
    border-collapse: collapse;
    border: #ccc 1px solid; /* Subtle grey border */
    text-align: center;
    font-size: 16px;
    margin-left: 30px;
    width: 600px;
    height: 500px;
    background-color: #fff; /* Light background */
    color: #333;
    border-radius: 5px;
    overflow: hidden;
    transform: translateX(50px) translateY(-8px);
}

.result-box .result-table th, 
.result-box .result-table td {
    padding: 10px;
    border-left: #ccc 1px solid; /* Subtle grey border for cells */
    border-bottom: #ccc 1px solid; /* Keep bottom border */
    width: 600px;
    height: 170px;
}

/* Remove left border from the first cell of each row */
.result-box .result-table th:first-child, 
.result-box .result-table td:first-child {
    border-left: none;
    border-top-left-radius: 5px; /* Top left corner */
    border-bottom-left-radius: 5px;
}

.result-box .result-table th:last-child, 
.result-box .result-table td:last-child {
    border-top-right-radius: 5px; /* Top right corner */
    border-bottom-right-radius: 5px; /* Bottom right corner, adjust if only top corners should be rounded */
    
}

/* For the first row, to specifically round top corners */
.result-box .result-table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.result-box .result-table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

/* For the last row, to specifically round bottom corners */
.result-box .result-table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

.result-box .result-table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

/* Remove bottom border from the last row's cells to prevent double border */
.result-box .result-table tr:last-child td {
    border-bottom: none;
}

#highlight {
    text-align: center; /* Center the content of the td */
}

#highlight p {
    text-align: justify; /* Justify the text inside the p */
    display: inline-block; /* Allows text-align: center on the parent to center the block */
    max-width: 90%; /* Adjust the max-width as needed */
}
